.Center-mail{
    margin:auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
    boeder-radius: 12px;
}

.mail-text{
    text-align: center;
    font-family: "Itim";
    color: white;
}

body{
    background-color: #f699dc;
}

#button{
    text-align: center;
    margin-top: 250px;
}

.button{
    font-size: 20px;
    font-family: "Itim";
    color: #f699dc;
    text-decoration: none;
    border-radius: 12px;
    padding: 15px 32px;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.div-feeling{
    text-align: center;
    color:#f699dc;
    text-decoration: none;
    border-radius: 12px;
    padding: 15px 32px;
    background-color: white;
    cursor: pointer;
}

.text-feeling{
    font-family:"Itim";
    font-size: 25px;
}